".text.html":

  "KnockoutJS data-bind":
    "prefix": "data-bind"
    "body": "data-bind=\"$1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/binding-syntax.html"

  "KnockoutJS Binding - visible":
    "prefix": "visible-bind"
    "body": "data-bind=\"visible: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/visible-binding.html"

  "KnockoutJS Binding - text":
    "prefix": "text-bind"
    "body": "data-bind=\"text: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/text-binding.html"

  "KnockoutJS Binding - text 'containerless syntax'":
    "prefix": "text-bind (containerless)"
    "body": "<!--ko text: $1--><!--/ko-->$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/text-binding.html"

  "KnockoutJS Binding - visible, text":
    "prefix": "visible-text-bind"
    "body": "data-bind=\"visible: $1, text: $2\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/binding-syntax.html"

  "KnockoutJS Binding - html":
    "prefix": "html-bind"
    "body": "data-bind=\"html: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/html-binding.html"

  "KnockoutJS Binding - css":
    "prefix": "css-bind"
    "body": "data-bind=\"css: { '$1' : $2 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/css-binding.html"

  "KnockoutJS Binding - style":
    "prefix": "css-bind"
    "body": "data-bind=\"style: { $1 : $2 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/style-binding.html"

  "KnockoutJS Binding - attr":
    "prefix": "attr-bind"
    "body": "data-bind=\"attr: { '$1' : $2 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/attr-binding.html"

  "KnockoutJS Binding - attr:href":
    "prefix": "attr:href-bind"
    "body": "data-bind=\"attr: { 'href' : $1 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/attr-binding.html"

  "KnockoutJS Binding - attr:src":
    "prefix": "attr:src-bind"
    "body": "data-bind=\"attr: { 'src' : $1 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/attr-binding.html"

  "KnockoutJS Binding - attr:id":
    "prefix": "attr:id-bind"
    "body": "data-bind=\"attr: { 'id' : $1 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/attr-binding.html"

  "KnockoutJS Binding - attr:class":
    "prefix": "attr:class-bind"
    "body": "data-bind=\"attr: { 'class' : $1 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/attr-binding.html"

  "KnockoutJS Binding - attr:name":
    "prefix": "attr:name-bind"
    "body": "data-bind=\"attr: { 'name' : $1 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/attr-binding.html"

  "KnockoutJS Binding - attr:for":
    "prefix": "attr:for-bind"
    "body": "data-bind=\"attr: { 'for' : $1 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/attr-binding.html"

  "KnockoutJS Binding - foreach":
    "prefix": "foreach-bind"
    "body": "data-bind=\"foreach: { data: $1, as: '$2'}\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/foreach-binding.html"

  "KnockoutJS Binding - foreach 'containerless syntax'":
    "prefix": "foreach-bind (containerless)"
    "body": """
        <!-- ko foreach: { data: $1, as: '$2'} -->
            $3
        <!-- /ko -->$0
    """
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/foreach-binding.html"

  "KnockoutJS Binding - if":
    "prefix": "if-bind"
    "body": "data-bind=\"if: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/if-binding.html"

  "KnockoutJS Binding - if 'containerless syntax'":
    "prefix": "if-bind (containerless)"
    "body": """
        <!-- ko if: $1 -->
            $2
        <!-- /ko -->$0
    """
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/if-binding.html"

  "KnockoutJS Binding - with":
    "prefix": "with-bind"
    "body": "data-bind=\"with: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/with-binding.html"

  "KnockoutJS Binding - with 'containerless syntax'":
    "prefix": "with-bind (containerless)"
    "body": """
        <!-- ko with: $1 -->
            $2
        <!-- /ko -->$0
    """
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/with-binding.html"

  "KnockoutJS Binding - click":
    "prefix": "click-bind"
    "body": "data-bind=\"click: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/click-binding.html"

  "KnockoutJS Binding - event":
    "prefix": "event-bind"
    "body": "data-bind=\"event: { $1 : $2 }\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/event-binding.html"

  "KnockoutJS Binding - submit":
    "prefix": "submit-bind"
    "body": "data-bind=\"submit: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/submit-binding.html"

  "KnockoutJS Binding - enable":
    "prefix": "enable-bind"
    "body": "data-bind=\"enable: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/enable-binding.html"

  "KnockoutJS Binding - disable":
    "prefix": "disable-bind"
    "body": "data-bind=\"disable: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/disable-binding.html"

  "KnockoutJS Binding - value":
    "prefix": "value-bind"
    "body": "data-bind=\"value: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/value-binding.html"

  "KnockoutJS Binding - textInput":
    "prefix": "textInput-bind"
    "body": "data-bind=\"textInput: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/textinput-binding.html"

  "KnockoutJS Binding - hasFocus":
    "prefix": "hasFocus-bind"
    "body": "data-bind=\"hasFocus: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/hasfocus-binding.html"

  "KnockoutJS Binding - checked":
    "prefix": "checked-bind"
    "body": "data-bind=\"checked: $1\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/checked-binding.html"

  "KnockoutJS Binding - options":
    "prefix": "options-bind"
    "body": "data-bind=\"options: $1, value: $2\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/options-binding.html"

  "KnockoutJS Binding - options 'array of objects'":
    "prefix": "options-bind (object)"
    "body": "data-bind=\"options: $1, optionsText: '$2', optionsValue: '$3', value: $4\"$0"
    "description": " "
    "descriptionMoreURL": "http://knockoutjs.com/documentation/options-binding.html"
