".source.js":

    "KnockoutJS applyBindings":
        "prefix": "ko.applyBindings(model:model)"
        "body": "ko.applyBindings($1);$0"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observables.html"

    "KnockoutJS applyBindings with element":
        "prefix": "ko.applyBindings(model:model, element:element)"
        "body": "ko.applyBindings($1, $2);$0"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observables.html"

    "KnockoutJS observable":
        "prefix": "ko.observable(value:value)"
        "body": "ko.observable($1);$0"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observables.html"

    "KnockoutJS subscribe 'beforeChange'":
        "prefix": "subscribe(function:function, null, 'beforeChange')"
        "body": """
            subscribe(function(old) {
                $1
            }, null, "beforeChange");$0
        """
        "leftLabel": "observable"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observables.html"

    "KnockoutJS subscribe 'change'":
        "prefix": "subscribe(function:function, null, 'change')"
        "body": """
            subscribe(function(new) {
                $1
            }, null, "change");$0
        """
        "leftLabel": "observable"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observables.html"

    "KnockoutJS dispose subscription":
        "prefix": "dispose(empty:empty)"
        "body": "dispose();$0"
        "leftLabel": "subscription"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observables.html"

    "KnockoutJS observableArray":
        "prefix": "ko.observableArray(array:array)"
        "body": "ko.observableArray($1);$0"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'indexOf'":
        "prefix": "indexOf(item:item)"
        "body": "indexOf($1);$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'slice'":
        "prefix": "slice(index:start, index:end)"
        "body": "slice($1, $2);$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'push'":
        "prefix": "push(item:item)"
        "body": "push($1);$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'pop'":
        "prefix": "pop(empty:empty)"
        "body": "pop();$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'unshift'":
        "prefix": "unshift(item:item)"
        "body": "unshift($1);$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'shift'":
        "prefix": "shift(empty:empty)"
        "body": "shift();$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'reverse'":
        "prefix": "reverse(empty:empty)"
        "body": "reverse();$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'sort'":
        "prefix": "sort(empty:empty)"
        "body": "sort();$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'splice'":
        "prefix": "splice(index:start, index:end)"
        "body": "splice($1, $2);$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'remove'":
        "prefix": "remove(item:item)"
        "body": "remove($1);$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'remove' with function":
        "prefix": "remove(function:function)"
        "body": """
            remove(function(item) {
                return $1;
            });$0
        """
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'removeAll'":
        "prefix": "removeAll(empty:empty)"
        "body": "removeAll();$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS observableArray 'removeAll' with array":
        "prefix": "removeAll(array:array)"
        "body": "removeAll($1);$0"
        "leftLabel": "observableArray"
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/observableArrays.html"

    "KnockoutJS computed":
        "prefix": "ko.computed(function:function, context:context)"
        "body": """
            ko.computed(function() {
                $1
            }, this);$0
        """
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/computedObservables.html"

    "KnockoutJS pureComputed":
        "prefix": "ko.pureComputed(object:object)"
        "body": """
            ko.pureComputed({
                read: function () {
                    return $1;
                },
                write: function (value) {
                    $2
                },
                owner: this
            });$0
        """
        "description": " "
        "descriptionMoreURL": "http://knockoutjs.com/documentation/computed-writable.html"
